@import "../../App.scss";


.aboutusdiv{
    h1{
        text-align: center;
        font-size: 4em;
    }
    .alpinepara{
        margin: 3% 30%;
        line-height: 2;
        font-size: 1.3em;
        text-align: justify;
    }
    .thanku{
        text-align: right;
        margin: 3% 30%;
        font-size: 1.3em;
    }
}