@import "../../App.scss";

.footerdiv{
    padding-top: 8%;
    text-align: center;
    p{
        font-weight: 400;
        color: rgb(148, 148, 148);
    }
    span{
        margin: 0 10px;
        padding:5% 0;
    }
    p:nth-of-type(2){
        font-weight: 200;
        font-size: 1.2em;
        margin-top: 1%;
    }
}
.footerdiv::after{
    padding: 50px;
}