@import "../../App.scss";
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(184, 184, 184, 0.667);
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cartdiv{
    .sorrymessage{
        text-align: center;
        margin: 5% 0;
        font-family: $secondaryfont;
    }
    h1{
        text-align: center;
        font-size: 6em;
    }
    .head{
        padding: 5% 15%;

    }
    .heading{
        text-align: center;
        h2{
        font-weight: bolder;
        font-size: 2.5em;
        color: white;
        }
        background-color: black;

    }
    .item{
        text-align: center;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding:.5% 0 ;
        h2{
            font-weight: bold;
        }
        .arrows{
            transition: .2s;
        }
        .arrows:hover{
            color: black !important;
            cursor: pointer;
        }
    }
    .bill{
        text-align: left;
        padding:0 15%;
        .blackbutton{
            padding: 1% 7%;
        }
        h1{
        text-align: left;
        font-size: 2em;
        font-family: $secondaryfont;
        font-weight: lighter;
        span{
            font-weight: lighter;
        }
        }
        .total{
            font-size: 2.5em;
            font-weight: bold;
        }
        .discount{
            span{
            color: green;
            }
        }
    }
    .trashcan{
        font-size: 1.5em;
        color: #ccc;
        transition: .2s;
    }
    .trashcan:hover{
        color: black;
    }
    
}