@import "../../App.scss";

.successmessage{
    color:green;
    font-weight: bold;
}
.gotolink{
    color:blue;
    text-align: center;
    margin-top: 3%;
}
.gotolink:hover{
    text-decoration: underline;
}
.userinformation{
    margin-top: 1%;
    .menu{
        padding:0;
        text-align: left;
        
        box-shadow: 0px 0px 3px #ccc;
        border-radius: 20px;
        padding-bottom: 5%;
        height: 100%;
        h1{
            margin-bottom: 5%;
            margin-left:15%;
        }
            p{
                text-align: left;
                margin-left: 15%;
                font-weight: bold;
            }
            .subrows{
                padding: 5% 0;
                margin:3% 0;
                transition: .5s;

            }
            .subrows:hover{
                cursor: pointer;
                background-image: linear-gradient(315deg, #bdd4e7ab 0%, #8693abb0 74%);
            }
            .active{
                background-image: linear-gradient(315deg, #bdd4e7ab 0%, #8693abb0 74%);
            }
    }
    .detailcontainer{
        p{
            font-weight: bold;
        }
        .informationdiv{
            margin: 2% 0;
        }
    }
    .carddetails{
        margin: 5% 1%;
        padding:2%;
        box-shadow: 0px 0px 2px #ccc;
        font-weight: bold;

    }
    
}

.hidden{
    display: none;
}

.editspan{
    color: rgb(97, 97, 97);
    padding-left: 1%;
}
.editspan:hover{
    cursor: pointer;
}