@import "../../App.scss";

span{
    font-family: $secondaryfont;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214, 35, 35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.airtody{
    width:5vw;
    filter: contrast(2.5);
 }
 .navbarBrandName{
font-size: 3rem;
font-weight: 600;
 }
 .navbarBrandNameext{
    font-weight: 900;
    color: inherit !important;
 }
 .logoimg{
     width:3vw;
 }
 .nav-item{
     margin: auto auto;
 }
 .navbarclass{
     font-size:1.25rem;
     padding: 1% 10%;
 }
 .navbar-nav li{
     padding:0 .25rem;
 }
 
 .navbar{
     background-color: white !important;
     font-family: $secondaryfont;
 }

 #nav{
     color:"white"
 }

 .logo{
     filter:contrast(1.5)
 }

.nav-link{
    color:#cccc !important;
    font-weight: 600;

}
.nav-link:hover{
    color:$secondary-color !important;
    transition: .3s;
}
.active{
color:$secondary-color !important
}

li{
    color:purple;
}
.custombadge{
    position: absolute;
    color: white;
    background-color:red ;
    padding: 2px 8px;
    border-radius: 40px;
    font-size: .7em;
}

@media (min-width: 800px) {
    .airtody{
        width:25vw;
        filter: contrast(2.5);
     }
     .custombadge{
        margin-left: 1.6%;
    }
}
@media (max-width: 768px) {
    .logo{
        height:50%;
        width:60px;
    }
    .custombadge{
        margin-left: 3%;
    }

}
@media (max-width: 576px) {
    .logo{
        height:50%;
        width:60px;
    }
    .custombadge{
        margin-left: 5%;
    }
}