@import "../../App.scss";


.orderplaced{
    margin-top: 5%;
    text-align: center;
   h1{
       font-size: 3em;
   }
   button{
       padding: 1% 2%;
       transition: .2s;
   }
   button:hover{
       box-shadow: 1px 1px 20px 2px #ccc;
   }
    img{
        margin-bottom: 1%;
    }

}