@import "../App.scss";

.homeonediv{
   h1{
    text-align: center;
    font-family: $primaryfont;
    font-size: 5.5em;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg,#000000, #8a8a8afd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
   .homeheadcards{
background-image: linear-gradient(315deg, #bdd4e73d 0%, #8693ab41 74%);

   }
   .headingpara{
       font-size: 2em;
       font-weight: lighter;
       text-align: center;
   }
   .shopnowdiv{
       text-align: center;
        img{
        width: 20%;
        }
        h2{
            margin: 3% 0 2% 0;
            font-size: 3em;
        }
        .row{
            margin: 0 10%;
            transition: 1s;

            .shadow-lg{
                margin: 0 auto;
                padding: 5% 0;
                border-radius: 5%;
                h3{
                    font-size: 2.5em;
                    margin-top: 2%;
                    color: rgb(102, 102, 102);
                    font-weight: lighter;
                 
                }
            }
            .shadow-lg:hover{
                background-image: linear-gradient(315deg, #bdd4e7ab 0%, #8693abb0 74%);
                img{
                    transition: .5s;
                    transform: scale(1.2);
                }
             h3{
                background: -webkit-linear-gradient(#000000, #25657efd);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
             }
              
            }
        }
    }

    .trendingitemsdiv{
        h2{
            text-align: center;
            font-size: 4em;
            margin: 10% 0 4% 0;
        }
        .row{
            background-color: $secondary-color;
            padding: 3%;
            .col-2{
                background-color: $primary-color;
                padding: 3% 0;
                margin: 0 1%;
                text-align: center;
                border-radius: 1%;
            }
        }
    }

    .brief{
        h2{
            text-align: center;
            font-size: 4em;
            margin: 10% 0 2% 0;
        }
        p{
            font-weight: 100;
            margin: 0 30%;
            text-align: center;
        }
    }

    .customers{
        h2{
            text-align: center;
            font-size: 4em;
            margin: 10% 0 2% 0;
        }
        .row{
            margin: 3% 5%;
            .col-xl-3{
                margin: 0 auto;
                text-align: center;
                padding: 3%;
                h4{
                    font-size: 2em;
                }
                h6{
                    color: $tertiary-color;
                }
                p{
                    font-weight: 100;
                    text-align: justify;
                    margin-top: 2%;
                }
               
            }
        }
        
    }

}


@media (max-width: 992px) {

}
@media (max-width: 768px) {


}
@media (max-width: 576px) {
    .homeonediv{
        h1{
            font-size: 3.3em;
        }
        .headingpara{
            font-size: 1.5em;
        }
        .shopnowdiv{
       
            .heading{
                font-size: 1.9em;
            }
            .row{
            .homeheadcards{
                margin-top: 10%;
                h3{
                    font-size: 2.1em;
                }
            }
        }
        }
        .trendingitemsdiv{
            h2{
                font-size: 2.8em;
            }
            .row{
                .col-2{
                    margin: 0 auto;
                }

                
            }
            overflow-x: auto;
        }
        .brief{
            h2{
                font-size: 3.0em;
            }
            p{
                margin: 3% 5%;
            }
        }
        .customers{
            h2{
                font-size: 2.8em;
            }
            .row{
                
            .col-xl-3{
            margin-top: 10%;   
            padding:10%;
            }
            }
        }
    }
    
}